.about-section  {
  padding: 1rem 2rem;
}

#about-id {
  scroll-margin-top: 5rem;
}

.about-section p {
  align-self: center;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
}

.about-flex {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
}

.about-section h1 {
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
}

@media all and (max-width: 992px) {
  .about-flex {
    padding: 3rem 1rem;
  }
}
