@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    /* to fix problem with the nav elements that get pushed to 
    the side when the scrollbar appears/disappears */
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #5c5c5c;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }